@charset "UTF-8";

elem-dashboard {
	width: 100%;
}

elem-dashboard header {
	background: #f5f5f5;
	height: 3em;
	border-bottom: 1px solid #b8b8b8;
	align-items: center;
  	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	position: sticky;
	top: 0;
	flex-grow: 1;
}

elem-dashboard header h1, 
elem-dashboard header div {
	display: flex;
	padding: .3em;
	align-items: center;
}

elem-dashboard header h1 {
	font-weight: normal;
	font-size: 1.6em;
	color: #d6d5d7;
	flex: 1;
}

elem-dashboard header div {
	display: flex;
	justify-content: right;
	justify-content: flex-end;
	flex: auto;
}

elem-dashboard header div button {
	margin: 0 .5em;
	cursor: pointer;
	outline: none;
	border: 1px solid #2f2f2f;
	padding: .3em;
	background-color: #fff;
}

elem-dashboard header div button::first-letter {
	text-transform: uppercase;
}

elem-dashboard header div button:active {
	background-color: #777778;
	color: #fff;
}

elem-dashboard header div button[data-order="1"] {
	order: 1;
}

elem-dashboard header div button[data-order="2"] {
	order: 2;
}

elem-dashboard header div button[data-order="3"] {
	order: 3;
}

elem-dashboard header div button[data-order="4"] {
	order: 4;
}

/*action-button*/
